html {
  font-size: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

body {
  font-family: "Arial", sans-serif;
  animation: none; }

h2 {
  font-size: 24px;
  font-weight: 100;
  color: black; }

h3 {
  font-size: 15px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.inner-wrapper {
  margin: 0 auto; }

.account-wrapper {
  background-color: #000000; }

.one-two.column {
  width: 50%; }

.account-info {
  color: white;
  font-size: 0;
  font-family: "Arial", sans-serif;
  background-color: #000000;
  text-transform: uppercase; }
  .account-info > * {
    font-size: 1.1rem;
    display: inline-block; }

.account-info-list {
  list-style-type: none;
  font-size: 0;
  float: right; }
  .account-info-list li {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    font-size: 1.1rem;
    line-height: 30px;
    border-left: 1px solid #444444; }
    .account-info-list li:last-child {
      border-right: 1px solid #444444; }
    .account-info-list li:hover, .account-info-list li:focus {
      cursor: pointer;
      background-color: grey; }

.account-info-custom-care {
  vertical-align: top;
  padding: 9px 0; }

.user-icon {
  display: inline-block;
  background-image: url("./images/header-sprites.png");
  background-repeat: no-repeat;
  margin-right: 8px;
  vertical-align: text-bottom;
  background-position: -10px -132px;
  width: 14px;
  height: 13px; }

.search-icon {
  display: inline-block;
  background-image: url("./images/header-sprites.png");
  background-repeat: no-repeat;
  vertical-align: middle;
  background-position: -10px -97px;
  width: 15px;
  height: 15px; }

.arrow-down-icon {
  display: inline-block;
  background-image: url("./images/header-sprites.png");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 8px;
  background-position: -10px -73px;
  width: 7px;
  height: 4px; }

.header-nav {
  padding: 20px 0 0 0; }

.header-nav > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }

.header-nav-products-list {
  list-style-type: none; }
  .header-nav-products-list li {
    display: inline-block;
    margin-right: 20px; }
    .header-nav-products-list li a {
      color: #000000;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: -0.08px; }
      .header-nav-products-list li a:after {
        content: '';
        display: inline-block;
        background-image: url("./images/header-sprites.png");
        background-repeat: no-repeat;
        vertical-align: middle;
        margin-left: 8px;
        background-position: -10px -49px;
        width: 7px;
        height: 4px; }

.header-nav-busket {
  position: relative; }
  .header-nav-busket > * {
    min-height: 33px;
    border: 1px solid #d7d7d7; }
  .header-nav-busket button {
    padding-left: 7px;
    background-color: white;
    width: 100%;
    text-align: left;
    border-bottom: none;
    cursor: pointer; }
    .header-nav-busket button:after {
      content: '';
      display: inline-block;
      position: absolute;
      right: 12px;
      top: 14px;
      background-image: url("./images/header-sprites.png");
      background-repeat: no-repeat;
      vertical-align: middle;
      background-position: -10px -73px;
      width: 7px;
      height: 4px; }
  .header-nav-busket .basket-content {
    background-color: #fafafa;
    position: relative; }
    .header-nav-busket .basket-content:before {
      content: '';
      position: absolute;
      left: 10px;
      top: 5px;
      background-image: url("./images/header-sprites.png");
      background-repeat: no-repeat;
      background-position: -10px -10px;
      width: 20px;
      height: 19px; }
    .header-nav-busket .basket-content .basket-inner {
      padding: 10px 11px;
      font-size: 1.1rem;
      float: right; }
      .header-nav-busket .basket-content .basket-inner li {
        display: inline-block;
        padding: 0 5px;
        color: #949393;
        border-right: 1px solid #949393; }
        .header-nav-busket .basket-content .basket-inner li:last-child {
          border-right: none;
          padding-right: 0; }

.header-nav-busket {
  width: 214px; }

.main-slider {
  width: 1200px;
  margin: 0 auto;
  position: relative; }
  .main-slider div img {
    width: 100%;
    height: 100%; }

.slider-arrow-right {
  right: 0; }
  .slider-arrow-right span {
    display: block;
    background-image: url("images/slider-sprites.png");
    background-repeat: no-repeat;
    background-position: -10px -48px;
    width: 12px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.slider-arrow-right,
.slider-arrow-left {
  position: absolute;
  top: 30%;
  width: 31px;
  height: 118px;
  background-color: #ffffff;
  cursor: pointer;
  transition-duration: 0.3s; }
  .slider-arrow-right:hover,
  .slider-arrow-left:hover {
    background-color: rgba(253, 146, 109, 0.24); }

.slider-arrow-left {
  left: 0;
  z-index: 1; }
  .slider-arrow-left span {
    display: block;
    background-image: url("images/slider-sprites.png");
    background-repeat: no-repeat;
    background-position: -10px -10px;
    width: 12px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .slider-arrow-left:hover {
    background-color: rgba(253, 146, 109, 0.24); }

.slick-dots {
  margin: 10px auto;
  text-align: center; }
  .slick-dots li {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    border-radius: 50%; }
    .slick-dots li:last-child {
      margin-right: 0; }
    .slick-dots li button {
      transition-duration: 0.3s;
      font-size: 0;
      background-color: #867a76;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: none; }
    .slick-dots li:hover button {
      background-color: rgba(158, 121, 109, 0.5); }
  .slick-dots .slick-active button {
    font-size: 0;
    background-color: #fd926d;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none; }

.service-subscription-wrapper {
  font-size: 0;
  background-color: #ededed;
  height: 56px; }
  .service-subscription-wrapper .inner-wrapper > * {
    display: inline-block; }

.email-form {
  vertical-align: top;
  height: 100%;
  line-height: 56px; }
  .email-form form {
    height: 56px; }
  .email-form label {
    font-size: 1.2rem;
    position: relative;
    color: #fd926d; }
  .email-form input {
    width: 160px;
    height: 30px;
    border: none;
    margin-left: 10px;
    padding: 0 30px 0 10px; }
    .email-form input::placeholder {
      font-style: italic;
      font-size: 1.2rem; }
  .email-form button {
    position: absolute;
    width: 28px;
    height: 30px;
    right: 0;
    top: -8px;
    background-color: #fd926d;
    border: none;
    border-bottom: 4px solid #dd6b44; }
    .email-form button:before {
      content: '';
      background-image: url("images/arrows-sprites.png");
      background-repeat: no-repeat;
      display: block;
      background-position: -10px -37px;
      width: 11px;
      height: 11px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

.find-us {
  font-size: 0;
  color: #6c6c6c;
  float: right; }
  .find-us li {
    vertical-align: top;
    display: inline-block;
    height: 56px;
    width: 55px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 56px;
    transition-duration: 0.3s; }
    .find-us li:first-child {
      padding-right: 15px;
      width: auto; }
    .find-us li a {
      width: 100%;
      height: 100%;
      display: block;
      position: relative; }
    .find-us li:nth-child(2n) {
      background-color: #f7f7f7; }
    .find-us li:hover {
      background-color: rgba(158, 121, 109, 0.5); }
    .find-us li:nth-child(1) {
      background-color: inherit; }
    .find-us li .facebook:before {
      content: '';
      position: absolute;
      top: 17px;
      left: 23px;
      background-image: url("images/social-sprites.png");
      background-repeat: no-repeat;
      display: block;
      background-position: -10px -54px;
      width: 9px;
      height: 18px; }
    .find-us li .twitter:before {
      content: '';
      position: absolute;
      top: 17px;
      left: 18px;
      background-image: url("images/social-sprites.png");
      background-repeat: no-repeat;
      display: block;
      background-position: -10px -309px;
      width: 21px;
      height: 17px; }
    .find-us li .pinterest:before {
      content: '';
      position: absolute;
      top: 17px;
      left: 18px;
      background-image: url("images/social-sprites.png");
      background-repeat: no-repeat;
      display: block;
      background-position: -10px -136px;
      width: 22px;
      height: 21px; }

.collection-links {
  padding: 40px 0 50px 0;
  font-size: 0; }
  .collection-links a {
    width: 100%;
    height: 100%;
    position: relative; }
  .collection-links img {
    width: 100%;
    height: 100%; }
  .collection-links .one-two.column {
    display: inline-block;
    width: 50%;
    height: 100%; }
  .collection-links .top {
    height: 50%; }
  .collection-links .bottom {
    height: 50%; }

.to-collection-btn {
  position: absolute;
  bottom: 20px;
  left: 31px;
  border: none;
  padding: 10px;
  background-color: #4fafa0;
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase; }
  .to-collection-btn:after {
    content: '';
    display: inline-block;
    margin: 0 0 1px 10px;
    background-image: url("./images/arrows-sprites.png");
    background-repeat: no-repeat;
    background-position: -10px -10px;
    width: 4px;
    height: 7px; }
  .to-collection-btn:hover, .to-collection-btn:focus {
    background-color: #3f8d81; }

.catalog-slider-controls .tab-navigation {
  list-style-type: none;
  font-size: 0; }
  .catalog-slider-controls .tab-navigation li {
    display: inline-block;
    padding: 20px 15px; }
    .catalog-slider-controls .tab-navigation li a {
      font-size: 1.5rem;
      color: black;
      text-transform: uppercase; }
  .catalog-slider-controls .tab-navigation .active-tab {
    background-color: #fd926d; }
    .catalog-slider-controls .tab-navigation .active-tab a {
      color: white; }

.catalog-item {
  width: 220px;
  height: 415px;
  font-size: 0; }
  .catalog-item img {
    width: 100%;
    height: 70%; }
  .catalog-item figcaption {
    height: 30%;
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px 0;
    color: #373737; }
    .catalog-item figcaption .catalog-item-description {
      text-transform: uppercase;
      font-size: 1.2rem;
      color: #373737;
      margin-bottom: 5px; }
    .catalog-item figcaption .catalog-item-price {
      font-size: 22px;
      margin-bottom: 4px; }

#catalog-slider {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #fd926d; }
  #catalog-slider .slick-slide.catalog-item {
    width: 220px; }
  #catalog-slider .slick-list {
    padding: 0 5px; }
  #catalog-slider .catalog-item {
    position: relative;
    width: 240px;
    height: 415px;
    padding: 10px 10px;
    margin: 0 5px;
    font-size: 0; }
    #catalog-slider .catalog-item figure {
      width: 100%;
      height: 100%; }
    #catalog-slider .catalog-item:hover, #catalog-slider .catalog-itemfocus {
      padding: 0; }
    #catalog-slider .catalog-item .catalog-item-shop-it {
      position: absolute;
      top: 40%;
      left: 50%;
      width: 132px;
      height: 132px;
      background-color: #3d3d3d;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle; }
      #catalog-slider .catalog-item .catalog-item-shop-it span {
        display: block;
        background-image: url("images/arrows-sprites.png");
        background-repeat: no-repeat;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-position: -10px -68px;
        width: 30px;
        height: 29px; }
      #catalog-slider .catalog-item .catalog-item-shop-it p {
        font-size: 12px;
        color: white;
        text-transform: uppercase; }
    #catalog-slider .catalog-item img {
      width: 100%;
      height: 70%; }
    #catalog-slider .catalog-item figcaption {
      height: 30%;
      text-align: center;
      background-color: #f7f7f7;
      padding: 10px 0;
      color: #373737; }

.slider-catalog-arrow-right {
  position: absolute;
  top: -45px;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: #f2f2f2;
  transform: rotate(180deg);
  transition-duration: 0; }
  .slider-catalog-arrow-right span {
    display: block;
    background-image: url("images/arrows-sprites.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-position: -10px -117px;
    width: 18px;
    height: 35px; }

.slider-catalog-arrow-left:hover, .slider-catalog-arrow-left:focus,
.slider-catalog-arrow-right:hover,
.slider-catalog-arrow-right:focus {
  background-color: #fd926d; }

.slider-catalog-arrow-left {
  position: absolute;
  top: -45px;
  right: 45px;
  width: 45px;
  height: 45px;
  background-color: #f2f2f2; }
  .slider-catalog-arrow-left span {
    display: block;
    background-image: url("images/arrows-sprites.png");
    background-repeat: no-repeat;
    background-position: -10px -117px;
    width: 18px;
    height: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.main-btn {
  text-transform: uppercase;
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: #fd926d;
  border-bottom: 4px solid #dd6b44;
  padding: 9px 10px;
  transition-duration: 0.3s; }
  .main-btn:hover, .main-btn:focus {
    background-color: #dd6b44;
    border-bottom: 4px solid #fd926d; }

.add-btn:after {
  content: '';
  display: inline-block;
  margin: 0 0 -1px 10px;
  background-image: url("./images/arrows-sprites.png");
  background-repeat: no-repeat;
  background-position: -10px -37px;
  width: 11px;
  height: 11px; }

.discount-wrapper {
  padding: 20px 0 50px 0; }
  .discount-wrapper .discount-catalog {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

.line-on-side {
  text-align: center;
  line-height: 0.5; }
  .line-on-side span {
    display: inline-block;
    position: relative; }
    .line-on-side span:after, .line-on-side span:before {
      content: "";
      position: absolute;
      height: 5px;
      border-top: 1px solid #d8d8d8;
      top: 50%;
      width: 390px; }
    .line-on-side span:before {
      right: 100%;
      margin-right: 15px; }
    .line-on-side span:after {
      left: 100%;
      margin-left: 15px; }

.favourite-brands-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid #d8d8d8; }
  .favourite-brands-wrapper .favourite-brands-list {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.about-shop-wrapper {
  text-align: center;
  padding: 25px 0 25px 0; }
  .about-shop-wrapper p {
    margin-top: 10px;
    font-size: 1.4em;
    color: #999999; }

.payment-wrapper {
  background-color: #f7f7f7;
  padding: 15px 0; }
  .payment-wrapper .inner-wrapper {
    text-align: center; }
    .payment-wrapper .inner-wrapper .payment-systems-list {
      list-style-type: none; }
      .payment-wrapper .inner-wrapper .payment-systems-list li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px; }
        .payment-wrapper .inner-wrapper .payment-systems-list li:last-child {
          margin-right: 0; }
        .payment-wrapper .inner-wrapper .payment-systems-list li p {
          font-size: 1.2rem;
          color: #9c9c9c;
          margin-right: 10px;
          vertical-align: middle; }

.footer-content {
  background-color: #ededed;
  padding: 30px 0; }
  .footer-content ul {
    list-style-type: none;
    display: inline-block;
    max-width: 158px;
    vertical-align: top;
    margin-right: 50px; }
    .footer-content ul li {
      color: #898684;
      font-size: 1.2rem;
      margin-bottom: 5px; }
    .footer-content ul .title {
      color: #544f4d;
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 15px; }

.footer-socials li {
  display: inline-block;
  margin-right: 10px; }
  .footer-socials li a {
    background-image: url("images/social-sprites.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -5px;
    width: 35px;
    height: 34px; }

.four-lists, .two-lists {
  display: inline-block; }

.two-lists ul:last-child {
  margin-right: 0; }

.footer-socials li {
  width: 35px;
  height: 35px; }
  .footer-socials li a {
    width: 100%;
    height: 100%; }

.footer-links {
  background-color: #000000;
  height: 77px;
  font-size: 1.1rem; }
  .footer-links .inner-wrapper > * {
    display: inline-block; }
  .footer-links .inner-wrapper ul {
    list-style-type: none;
    line-height: 77px; }
    .footer-links .inner-wrapper ul li {
      display: inline-block;
      color: white; }
      .footer-links .inner-wrapper ul li a {
        padding: 0 8px;
        border-right: 1px solid white; }
  .footer-links .inner-wrapper .copyright {
    text-align: right;
    padding-top: 25px;
    color: white;
    float: right; }

@media (min-width: 1200px) {
  .inner-wrapper {
    width: 980px; }
  .header-nav-logo {
    width: 328px; }
  .header-nav-products-list {
    width: 430px; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .inner-wrapper {
    width: 768px; }
  .hidden-md {
    display: none; } }

@media (min-width: 640px) and (max-width: 768px) {
  .inner-wrapper {
    width: 640px; }
    .inner-wrapper > * {
      display: block; }
  .one-two .column {
    width: 100%; }
  .hidden-sm {
    display: none; } }
