// FONTS
$arial-font: 'Arial', sans-serif;


// COLORS
$black-color: #000000;
$border-color: #d7d7d7;


// MIXINS
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin stitches-sprite ($x: 0, $y: 0, $width: 0, $height: 0) {
  background-position: $x $y;
  width: $width;
  height: $height;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.wrapper {
  width: 100%;
}

.inner-wrapper {
  margin: 0 auto;
}

.account-wrapper {
  background-color: $black-color;
}

.one-two.column {
  width: 50%;
}

.account-info {
  color: white;
  font-size: 0;
  font-family:$arial-font;
  background-color: $black-color;
  text-transform: uppercase;
  > * {
    font-size: 11px;
    display: inline-block;
  }
  @include clearfix;
}

.account-info-list {
  list-style-type: none;
  font-size: 0;
  float: right;
  li {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    margin: 0 auto;
    vertical-align: middle;
    font-size: 11px;
    line-height: 30px;
    border-left: 1px solid #444444;
    &:last-child {
      border-right: 1px solid #444444;
    }
    &:hover {
      cursor: pointer;
      background-color: grey;
    }
  }
}

.account-info-custom-care {
  vertical-align: top;
  padding: 9px 0;
}

.user-icon {
  display: inline-block;
  background-image: url('./images/header-sprites.png');
  background-repeat: no-repeat;
  margin-right: 8px;
  vertical-align: text-bottom;
  @include stitches-sprite(-10px, -132px, 14px, 13px);
}

.search-icon {
  display: inline-block;
  background-image: url('./images/header-sprites.png');
  background-repeat: no-repeat;
  vertical-align: middle;
  @include stitches-sprite(-10px, -97px, 15px, 15px);
}

.arrow-down-icon {
  display: inline-block;
  background-image: url('./images/header-sprites.png');
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 8px;
  @include stitches-sprite(-10px, -73px, 7px, 4px);
}

// HEADER

.header-nav {
  padding: 20px 0 0 0;
}

.header-nav > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.header-nav-products-list {
  list-style-type: none;
  li {
    display: inline-block;
    margin-right: 20px;
    a {
      color: $black-color;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.08px;
      &:after {
        content: '';
        display: inline-block;
        background-image: url('./images/header-sprites.png');
        background-repeat: no-repeat;
        vertical-align: middle;
        margin-left: 8px;
        @include stitches-sprite(-10px, -49px, 7px, 4px);

      }
    }
  }
}

.header-nav-busket {
  position: relative;
   > * {
     height: 33px;
     border: 1px solid $border-color;
   }
   button {
      padding-left: 7px;
      background-color: white;
      width: 100%;
      text-align: left;
      border-bottom: none;
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 12px;
        top: 14px;
        background-image: url('./images/header-sprites.png');
        background-repeat: no-repeat;
        vertical-align: middle;
        @include stitches-sprite(-10px, -73px, 7px, 4px);
      }
   }
   .basket-content {
     background-color: #fafafa;
   }
}

.header-nav-busket {
  width: 214px;
}

// SLIDER

.main-slider {
  width: 100%;
  height: 440px;
  position: relative;
  padding-bottom: 69px;
  div {
      height: 100%;
      background: url("images/banner-1.jpg") no-repeat center center;
  }
}

.slider-arrow-right {
  position: absolute;
  right: 0;
  top: 30%;
  width: 31px;
  height: 118px;
  background-color: white;
  span {
    position: absolute;
    top: 40%;
    left: 35%;
    display: block;
    background-image: url('images/slider-sprites.png');
    background-repeat: no-repeat;
    @include stitches-sprite(-10px, -48px, 12px, 18px);
  }
}

.slider-arrow-left {
  position: absolute;
  left: 0;
  top: 30%;
  width: 31px;
  height: 118px;
  background-color: white;
  z-index: 1;
  span {
    position: absolute;
    top: 40%;
    left: 35%;
    display: block;
    background-image: url('images/slider-sprites.png');
    background-repeat: no-repeat;
    @include stitches-sprite(-10px, -10px, 12px, 18px);
  }
}

.slick-dots {
  margin: 30px auto;
  text-align: center;
  li {
    display: inline-block;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    button {
      font-size: 0;
      background-color: #867a76;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: none;
    }
  }
  .slick-active button {
    font-size: 0;
    background-color: #fd926d;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
  }
}

// SUBSCRIPTIONS

.service-subscription {
  font-size: 0;
  background-color: #ededed;
  height: 56px;
}

.email-form {
  label {
    font-size: 12px;
    margin-right: 10px;
    position: relative;
    line-height: 56px;
    height: 100%;
  }
  input {
    width: 160px;
    height: 30px;
    border: none;
    margin-left: 10px;
    padding: 0 30px 0 10px;
  }
  button {
    position: absolute;
    width: 28px;
    height: 30px;
    right: 0;
    top: -8px;
    background-color: #fd926d;
    border: none;
    border-bottom: 4px solid #dd6b44;
  }
}

@media (min-width:1200px) {
  .inner-wrapper {
    width: 980px;
  }

  .header-nav-logo {
    width: 328px;
  }

  .header-nav-products-list {
    width: 430px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inner-wrapper {
    width: 768px;
  }
  .hidden-md {
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .inner-wrapper {
    width: 640px;
    > * {
      display: block;
    }
  }
  .one-two .column {
    width: 100%;
  }

  .hidden-sm {
    display: none;
  }
}
