// FONTS
$main-font: 'Arial', sans-serif;


// COLORS
$black-color: #000000;
$border-color: #d7d7d7;
$main-orange-color: #fd926d;
$button-border-color: #dd6b44;


// MIXINS
@mixin stitches-sprite ($x: 0, $y: 0, $width: 0, $height: 0) {
  background-position: $x $y;
  width: $width;
  height: $height;
}

@mixin vertical-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: $main-font;
  animation: none;
}

h2 {
  font-size: 24px;
  font-weight: 100;
  color: black;
}

h3 {
  font-size: 15px;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.inner-wrapper {
  margin: 0 auto;
}

.account-wrapper {
  background-color: $black-color;
}

.one-two.column {
  width: 50%;
}

.account-info {
  color: white;
  font-size: 0;
  font-family:$main-font;
  background-color: $black-color;
  text-transform: uppercase;
  > * {
    font-size: 1.1rem;
    display: inline-block;
  }
}

.account-info-list {
  list-style-type: none;
  font-size: 0;
  float: right;
  li {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    font-size: 1.1rem;
    line-height: 30px;
    border-left: 1px solid #444444;
    &:last-child {
      border-right: 1px solid #444444;
    }
    &:hover, &:focus {
      cursor: pointer;
      background-color: grey;
    }
  }
}

.account-info-custom-care {
  vertical-align: top;
  padding: 9px 0;
}

.user-icon {
  display: inline-block;
  background-image: url('./images/header-sprites.png');
  background-repeat: no-repeat;
  margin-right: 8px;
  vertical-align: text-bottom;
  @include stitches-sprite(-10px, -132px, 14px, 13px);
}

.search-icon {
  display: inline-block;
  background-image: url('./images/header-sprites.png');
  background-repeat: no-repeat;
  vertical-align: middle;
  @include stitches-sprite(-10px, -97px, 15px, 15px);
}

.arrow-down-icon {
  display: inline-block;
  background-image: url('./images/header-sprites.png');
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 8px;
  @include stitches-sprite(-10px, -73px, 7px, 4px);
}

// HEADER

.header-nav {
  padding: 20px 0 0 0;
}

.header-nav > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.header-nav-products-list {
  list-style-type: none;
  li {
    display: inline-block;
    margin-right: 20px;
    a {
      color: $black-color;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: -0.08px;
      &:after {
        content: '';
        display: inline-block;
        background-image: url('./images/header-sprites.png');
        background-repeat: no-repeat;
        vertical-align: middle;
        margin-left: 8px;
        @include stitches-sprite(-10px, -49px, 7px, 4px);

      }
    }
  }
}

.header-nav-busket {
  position: relative;
   > * {
     min-height: 33px;
     border: 1px solid $border-color;
   }
   button {
      padding-left: 7px;
      background-color: white;
      width: 100%;
      text-align: left;
      border-bottom: none;
      cursor: pointer;
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 12px;
        top: 14px;
        background-image: url('./images/header-sprites.png');
        background-repeat: no-repeat;
        vertical-align: middle;
        @include stitches-sprite(-10px, -73px, 7px, 4px);
      }
   }
   .basket-content {
     background-color: #fafafa;
     position: relative;
     &:before {
       content: '';
       position: absolute;
       left: 10px;
       top: 5px;
       background-image: url('./images/header-sprites.png');
       background-repeat: no-repeat;
       @include stitches-sprite(-10px, -10px, 20px, 19px);
     }
     .basket-inner {
       padding: 10px 11px;
       font-size: 1.1rem;
       float: right;
       li {
         display: inline-block;
         padding: 0 5px;
         color: #949393;
         border-right: 1px solid #949393;
         &:last-child {
           border-right: none;
           padding-right: 0;
         }
       }
     }
   }
}

.header-nav-busket {
  width: 214px;
}

// SLIDER

.main-slider {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  div {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.slider-arrow-right {
  right: 0;
  span {
    display: block;
    background-image: url('images/slider-sprites.png');
    background-repeat: no-repeat;
    @include stitches-sprite(-10px, -48px, 12px, 18px);
    @include vertical-center();
  }
}

.slider-arrow-right,
.slider-arrow-left {
  position: absolute;
  top: 30%;
  width: 31px;
  height: 118px;
  background-color: #ffffff;
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover {
    background-color: rgba(253, 146, 109, 0.24);
  }
}

.slider-arrow-left {
  left: 0;
  z-index: 1;
  span {
    display: block;
    background-image: url('images/slider-sprites.png');
    background-repeat: no-repeat;
    @include stitches-sprite(-10px, -10px, 12px, 18px);
    @include vertical-center();
  }
  &:hover {
    background-color: rgba(253, 146, 109, 0.24);
  }
}

.slick-dots {
  margin: 10px auto;
  text-align: center;
  li {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    border-radius: 50%;
    &:last-child {
      margin-right: 0;
    }
    button {
      transition-duration: 0.3s;
      font-size: 0;
      background-color: #867a76;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: none;
    }
    &:hover {
      button {
        background-color: rgba(158, 121, 109, 0.5);
      }
    }
  }
  .slick-active button {
    font-size: 0;
    background-color: $main-orange-color;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
  }
}

// SUBSCRIPTIONS

.service-subscription-wrapper {
  font-size: 0;
  background-color: #ededed;
  height: 56px;
  .inner-wrapper > * {
    display: inline-block;
  }
}

.email-form {
  vertical-align: top;
  height: 100%;
  line-height: 56px;
  form {
    height: 56px;
  }
  label {
    font-size: 1.2rem;
    position: relative;
    color: $main-orange-color;
  }
  input {
    width: 160px;
    height: 30px;
    border: none;
    margin-left: 10px;
    padding: 0 30px 0 10px;
    &::placeholder {
      font-style: italic;
      font-size: 1.2rem;
    }
  }
  button {
    position: absolute;
    width: 28px;
    height: 30px;
    right: 0;
    top: -8px;
    background-color: $main-orange-color;
    border: none;
    border-bottom: 4px solid $button-border-color;
    &:before {
      content: '';
      background-image: url('images/arrows-sprites.png');
      background-repeat: no-repeat;
      display: block;
      @include stitches-sprite(-10px, -37px, 11px, 11px);
      @include vertical-center;
    }
  }
}

.find-us {
  font-size: 0;
  color: #6c6c6c;
  float: right;
  li {
    vertical-align: top;
    display: inline-block;
    height: 56px;
    width: 55px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 56px;
    transition-duration: 0.3s;
    &:first-child {
      padding-right: 15px;
      width: auto;
    }
    a {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
    }
    &:nth-child(2n) {
      background-color: #f7f7f7;
    }
    &:hover {
      background-color: rgba(158, 121, 109, 0.5);
    }
    &:nth-child(1) {
      background-color: inherit;
    }
    .facebook:before {
        content: '';
        position: absolute;
        top: 17px;
        left: 23px;
        background-image: url('images/social-sprites.png');
        background-repeat: no-repeat;
        display: block;
        @include stitches-sprite(-10px, -54px, 9px, 18px);
    }
    .twitter:before {
        content: '';
        position: absolute;
        top: 17px;
        left: 18px;
        background-image: url('images/social-sprites.png');
        background-repeat: no-repeat;
        display: block;
        @include stitches-sprite(-10px, -309px, 21px, 17px);
    }
    .pinterest:before {
        content: '';
        position: absolute;
        top: 17px;
        left: 18px;
        background-image: url('images/social-sprites.png');
        background-repeat: no-repeat;
        display: block;
        @include stitches-sprite(-10px, -136px, 22px, 21px);
      }
    }
}

// COLLECTION

.collection-links {
  padding: 40px 0 50px 0;
  font-size: 0;
  a {
    width: 100%;
    height: 100%;
    position: relative;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .one-two.column {
    display: inline-block;
    width: 50%;
    height: 100%;
  }
  .top {
    height: 50%;
  }
  .bottom {
    height: 50%;
  }
}

.to-collection-btn {
  position: absolute;
  bottom: 20px;
  left: 31px;
  border: none;
  padding: 10px;
  background-color: #4fafa0;
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
  &:after {
    content: '';
    display: inline-block;
    margin: 0 0 1px 10px;
    background-image: url('./images/arrows-sprites.png');
    background-repeat: no-repeat;
    @include stitches-sprite(-10px, -10px, 4px, 7px);
  }
  &:hover, &:focus {
    background-color: #3f8d81;
  }
}

// CATALOG

.catalog-slider-controls {
  .tab-navigation {
    list-style-type: none;
    font-size: 0;
    li {
      display: inline-block;
      padding: 20px 15px;
      a {
        font-size: 1.5rem;
        color: black;
        text-transform: uppercase;
      }
    }
    .active-tab {
      background-color: $main-orange-color;
      a {
        color: white;
      }
    }
  }
}

.catalog-item {
  width: 220px;
  height: 415px;
  font-size: 0;
  img {
    width: 100%;
    height: 70%;
  }
  figcaption {
    height: 30%;
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px 0;
    color: #373737;
    .catalog-item-description {
      text-transform: uppercase;
      font-size: 1.2rem;
      color: #373737;
      margin-bottom: 5px;
    }
    .catalog-item-price {
      font-size: 22px;
      margin-bottom: 4px;
    }
  }
}

#catalog-slider {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: $main-orange-color;
  .slick-slide.catalog-item {
    width: 220px;
  }
  .slick-list {
    padding: 0 5px;
  }
  .catalog-item {
    position: relative;
    width: 240px;
    height: 415px;
    padding: 10px 10px;
    margin: 0 5px;
    font-size: 0;
    figure {
      width: 100%;
      height: 100%;
    }
    &:hover, &focus {
      padding: 0;
    }
    .catalog-item-shop-it {
      position: absolute;
      top: 40%;
      left: 50%;
      width: 132px;
      height: 132px;
      background-color: #3d3d3d;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      span {
        display: block;
        background-image: url('images/arrows-sprites.png');
        background-repeat: no-repeat;
        @include vertical-center();
        @include stitches-sprite(-10px, -68px, 30px, 29px);
      }
      p {
        font-size: 12px;
        color: white;
        text-transform: uppercase;
      }
    }
    img {
      width: 100%;
      height: 70%;
    }
    figcaption {
      height: 30%;
      text-align: center;
      background-color: #f7f7f7;
      padding: 10px 0;
      color: #373737;
    }
  }
}

.slider-catalog-arrow-right {
  position: absolute;
  top: -45px;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: #f2f2f2;
  transform: rotate(180deg);
  transition-duration: 0;
  span {
    display: block;
    background-image: url('images/arrows-sprites.png');
    background-repeat: no-repeat;
    @include vertical-center();
    @include stitches-sprite(-10px, -117px, 18px, 35px);
  }
}

.slider-catalog-arrow-left,
.slider-catalog-arrow-right {
  &:hover, &:focus {
    background-color: $main-orange-color;
  }
}

.slider-catalog-arrow-left {
  position: absolute;
  top: -45px;
  right: 45px;
  width: 45px;
  height: 45px;
  background-color: #f2f2f2;
  span {
    display: block;
    background-image: url('images/arrows-sprites.png');
    background-repeat: no-repeat;
    @include stitches-sprite(-10px, -117px, 18px, 35px);
    @include vertical-center();
  }
}

.main-btn {
  text-transform: uppercase;
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: $main-orange-color;
  border-bottom: 4px solid $button-border-color;
  padding: 9px 10px;
  transition-duration: 0.3s;
  &:hover, &:focus {
    background-color: $button-border-color;
    border-bottom: 4px solid $main-orange-color;
  }
}

.add-btn {
  &:after {
    content: '';
    display: inline-block;
    margin: 0 0 -1px 10px;
    background-image: url('./images/arrows-sprites.png');
    background-repeat: no-repeat;
    @include stitches-sprite(-10px, -37px, 11px, 11px);
  }
}

// DISCOUNT

.discount-wrapper {
  padding: 20px 0 50px 0;
  .discount-catalog {
      margin-top: 25px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

.line-on-side {
  text-align: center;
  line-height: 0.5;
  span {
    display: inline-block;
    position: relative;
    &:after, &:before {
      content: "";
      position: absolute;
      height: 5px;
      border-top: 1px solid #d8d8d8;
      top: 50%;
      width: 390px;
    }
    &:before {
      right: 100%;
      margin-right: 15px;
    }
    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}


// FAVOURITE BRANDS

.favourite-brands-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid #d8d8d8;
  .favourite-brands-list {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

// ABOUT SHOP

.about-shop-wrapper {
    text-align: center;
    padding: 25px 0 25px 0;
    p {
      margin-top: 10px;
      font-size: 1.4em;
      color: #999999;
    }

}

// PAYMENT

.payment-wrapper {
  background-color: #f7f7f7;
  padding: 15px 0;
  .inner-wrapper {
    text-align: center;
    .payment-systems-list {
      list-style-type: none;
      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        p {
          font-size: 1.2rem;
          color: #9c9c9c;
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }
  }
}


// FOOTER

.footer-content {
  background-color: #ededed;
  padding: 30px 0;
  ul {
    list-style-type: none;
    display: inline-block;
    max-width: 158px;
    vertical-align: top;
    margin-right: 50px;
    li {
      color: #898684;
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
    .title {
      color: #544f4d;
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}

.footer-socials {
  li {
    display: inline-block;
    margin-right: 10px;
    a {
      background-image: url('images/social-sprites.png');
      background-repeat: no-repeat;
      display: block;
      @include stitches-sprite(-5px, -5px, 35px, 34px);
    }
  }
}

.four-lists, .two-lists {
  display: inline-block;
}

.two-lists {
  ul {
    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-socials {
  li {
    width: 35px;
    height: 35px;
    a {
      width: 100%;
      height: 100%;
    }
  }
}

.footer-links {
  background-color: #000000;
  height: 77px;
  font-size: 1.1rem;
  .inner-wrapper {
    > * {
      display: inline-block;
    }
    ul {
      list-style-type: none;
      line-height: 77px;
      li {
        display: inline-block;
        color: white;
        a {
          padding: 0 8px;
          border-right: 1px solid white;
        }
      }
    }
    .copyright {
      text-align: right;
      padding-top: 25px;
      color: white;
      float: right;
    }
  }
}

@media (min-width:1200px) {
  .inner-wrapper {
    width: 980px;
  }

  .header-nav-logo {
    width: 328px;
  }

  .header-nav-products-list {
    width: 430px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inner-wrapper {
    width: 768px;
  }
  .hidden-md {
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .inner-wrapper {
    width: 640px;
    > * {
      display: block;
    }
  }
  .one-two .column {
    width: 100%;
  }

  .hidden-sm {
    display: none;
  }
}
